.note{
	width:100%;
	height:100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}
.note_main{
	width: 80%;
	background: white;
	border-radius: 10px;
	margin: 40px auto;
	padding: 40px 0;
}
.head{
	width:100%;
	border-bottom: 1px solid #222222;
}
.title{
	width: 96%;
	margin: 0 auto;
}
.dtitle{
	height: 140px;
}
.dtitle h1,.dtitle p{
    display: block;
    text-align: center;
}
.dtitle h2{
    padding: 20px;
    font-weight: bold;
}
.head a{
	width:100px;
	display: block;
	padding: 10px;
	font-size: 20px;
	display:inline-block;
	color:#111111;
}
.head button,.bu button{
    width:100px;
    height:30px;
    font-size: 14px;
    line-height:25px;
    margin:10px;
    border:1px solid #ddd;
    border-radius:10px;
    background: #ddd;
    float: right;
}
.content{
    width: 94%;
    margin: 0 auto;
}
.dcontent{
	padding: 50px;
}
.dcontent p{
	font-size: 22px;
}
.line{
	width: 100%;
	height: 100px;
	background :#eeeeee;
    border-bottom: 1px solid #222222;
}
.img{
	width: 100px;
	height: 100px;
    float: left;
    position: relative;
}
.state{
	font-size: 10px;
	color: white;
	background: red;
	padding: 2px;
	border-radius: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.img img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 10px;
}
.tit{
    width: 500px;
    height: 100px;
    float: left;
}
.tit p{
    font-size: 25px;
    padding: 30px;
}
.date{
	width:200px;
	height: 100px;
	float: left;
}
.date p{
	font-size: 15px;
	padding-top: 80px;
}
.bu{
    width: 150px;
    height: 100px;
    background: ;
    float: right;
}
.note_back{
	width:100%;
    height:100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    opacity: 0.8;
	background-color: #000000;
}