<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，指向UserDao全路径 -->
<mapper namespace="com.briup.dao.UserCollectionDao">
    <!-- UserCollection findByUserCollection(Integer uid,Integer aid); -->
    <select id="findByUserCollection" parameterType="java.lang.Integer"
        resultType="UserCollection">
        select * 
        from "user_collection" 
        where "user_id"=#{uid} and "article_id"=#{aid}
    </select>
    
    <!-- List<UserCollection> findAllUserCollection(Integer uid); -->
    <select id="findAllUserCollection" parameterType="java.lang.Integer"
        resultMap="rm">
        select "user_collection"."id","collection_date","title","user_collection"."state"
        from "user_collection","article"
        where "user_collection"."article_id"="article"."id" 
        and "user_collection"."user_id"=#{uid}
        and ("user_collection"."state"=1 or "user_collection"."state"=0)
    </select>
    <resultMap type="com.briup.bean.UserCollection" id="rm">
        <id column="id" property="id" />
        <result column="collection_date" property="collectionDate" />
        <result column="title" property="article.title" />
        <result column="state" property="state" />
    </resultMap>

    <!-- void addUserCollection(UserCollection userCollection); -->
    <insert id="addUserCollection" parameterType="UserCollection">
       <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
           select collection_sequence.nextval from dual
       </selectKey>
       insert into "user_collection"("id","collection_date","state","user_id","article_id")
       values(#{id},#{collectionDate},#{state},#{user.id},#{article.id})
    </insert>
    
    <!-- void updateUserCollection(UserCollection userCollection); -->
    <update id="updateUserCollection" parameterType="UserCollection">
        update "user_collection" 
        set "collection_date"=#{collectionDate},"state"=#{state} 
        where "user_id"=#{user.id} and "article_id"=#{article.id} 
    </update>
    
</mapper>